<ul class="mui-table-view mui-table-view-chevron">
  <li class="mui-table-view-cell mui-media">
    <a class="mui-navigate-right">
      <%= image_tag("pue.png", class: "mui-media-object mui-pull-left") %>
      <div class="mui-media-body">
        CBD
        <p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
      </div>
    </a>
  </li>
  <li class="mui-table-view-cell mui-media">
    <a class="mui-navigate-right">
      <%= image_tag("search.png", class: "mui-media-object mui-pull-left") %>
      <div class="mui-media-body">
        CBD
        <p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
      </div>
    </a>
  </li>
  <li class="mui-table-view-cell mui-media">
    <a class="mui-navigate-right">
      <%= image_tag("line.png", class: "mui-media-object mui-pull-left") %>
      <div class="mui-media-body">
        CBD
        <p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
      </div>
    </a>
  </li>
</ul>