html {font-size: 62.5%; -webkit-text-size-adjust: 100%;}

.text-center {
  text-align: center;
}

.xc-icon {
  width: 3rem;
  height: 3.2rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.user-info {
  margin: 14px 0 30px 0;
  text-align: center;
  .username {
    color: #fff;
    margin: 10px 0;
    background: image-url("point.png") no-repeat 38% 4px;
    background-size: 1rem 1rem;
  }
}
.signout {
  a {
    color: #fff;
  }
  position: absolute;
  bottom: 3rem;
  left: 50%;
  margin-left: -4rem;
  border-bottom: solid 1px #2ea0ff;
}
//首页九宫格背景为白色
.home__index {
  .mui-table-view-cell {
    padding-left: 20%;
    &.account {
      background: image-url("account.png") no-repeat 35% 11px;
    }
    &.message {
      background: image-url("message.png") no-repeat 35% 11px;
    }
    &.settings {
      background: image-url("settings.png") no-repeat 35% 11px;
    }
    &.about {
      background: image-url("about.png") no-repeat 35% 11px;
    }
    &.active {
      border-left: solid 10px #2ea0ff;
      padding-left: 18%;
      &.account {
        background: #000 image-url("account.png") no-repeat 32% 11px;
      }
      &.message {
        background: #000 image-url("message.png") no-repeat 32% 11px;
      }
      &.settings {
        background: #000 image-url("settings.png") no-repeat 32% 11px;
      }
      &.about {
        background: #000 image-url("about.png") no-repeat 32% 11px;
      }
    }
  }
}